<div class="uk-section">
  <div class="uk-container tm-container-medium">

  <div class="uk-width-xlarge  uk-margin-auto uk-margin-large-bottom uk-text-center">
    <h1 class="uk-text-center uk-margin-remove">Trabajando en</h1>
    <p class="uk-text-lead uk-text-center uk-margin-small-top uk-margin-large-bottom">
      Proyectos en los cuales estamos trabajando actualmente, cuales presentamos los siguientes casos.
    </p>
  </div>

  <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

     <div>
       <div>
         <div class="uk-child-width-1-2" uk-grid="parallax: 200">
           <div>
             <div><img uk-img src="{{ asset('images/design1-a.jpg') }}" alt=""></div>
           </div>
           <div>
             <div><img uk-img src="{{ asset('images/design1-b.jpg') }}" alt=""></div>
           </div>
         </div>
       </div>
     </div>
     <div>
      <div>
        <div class="uk-text-center uk-text-right@m">
            <div class="uk-inline uk-width-large uk-text-left@m">
              <div class="service-container project-red">
                <h4 class="subtitle">E-commerce Online</h4>
                <h1 class="title">01. TooPlay</h1>
                <p class="content-description uk-margin-medium">TooPlay es un e-commerce el cual fue desarrollado junto con el cliente para brindar una rápida e intuitiva experiencia hacia los clientes. Se especializa en la venta
                de videojuegos digitales y otros servicios tales como Netflix, Crynchyroll, Spotify, etc.</p>

              </div>
            </div>
        </div>
      </div>
     </div>

  </div>

  {# project-2 #}

  <div class="uk-child-width-1-2@m uk-grid-large uk-margin-large-top uk-text-center uk-flex uk-flex-middle uk-margin-large-top" uk-grid>

    <div>
      <div>
        <div class="uk-child-width-1-2" uk-grid="parallax: 200">
          <div>
            <div><img uk-img src="{{ asset('images/design2-a.jpg') }}" alt=""></div>
          </div>
          <div>
            <div><img uk-img src="{{ asset('images/design2-b.jpg') }}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
     <div class="uk-flex-first@m">
       <div class="uk-text-left@m">

            <div class="service-container project-red uk-inline uk-width-large">
              <h4 class="subtitle">Sitio Web y Branding</h4>
              <h1 class="title">02. CGV SPA</h1>
              <p class="content-description uk-margin-medium">
                CGV SPA es una empresa chilena enfocada al rubro de la contabilidad en sus diversos aspectos. Se trabajó conjuntamente para crear e implementar su diseño corporativo, sitio web, tarjetas de presentación, etc.
              </p>

            </div>

       </div>
     </div>

  </div>

  {# project-3 #}

  <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

    <div>
      <div>
        <div class="uk-child-width-1-2" uk-grid="parallax: 200">
          <div>
            <div><img uk-img src="{{ asset('images/design3-a.jpg') }}" alt=""></div>
          </div>
          <div>
            <div><img uk-img src="{{ asset('images/design3-b.jpg') }}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
     <div>
      <div>
        <div class="uk-text-center uk-text-right@m">
            <div class="uk-inline uk-width-large uk-text-left@m">
              <div class="service-container project-red">
                <h4 class="subtitle">Autoadministración</h4>
                <h1 class="title">03. Sayrin Panel</h1>
                <p class="content-description uk-margin-medium">
                  Desarrollamos un panel de administración para los sitios web con los campos y/o configuración específica para el sistema para darle la facilidad al cliente de enfocarse en lo que realmente le importa.
                </p>

              </div>
            </div>
        </div>
      </div>
     </div>

  </div>

  <div class="uk-margin-large-top uk-text-center">
    <a href="" class="button-style-a uk-button-large uk-button uk-button-text">Ver nuestros proyectos</a>
  </div>

  </div>



</div>
